.contact-page {
    background-color: #150e28;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.contact-page .overlap-wrapper {
    background-color: #150e28;
    height: 982px;
    width: 1512px;
}

.contact-page .overlap {
    height: 982px;
    position: relative;
}

.contact-page .overlap-group {
    height: 982px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1512px;
}

.contact-page .purple-lens-flare {
    background-blend-mode: hard-light;
    height: 896px;
    left: 0;
    position: absolute;
    top: 0;
    width: 779px;
}

.contact-page .img {
    background-blend-mode: hard-light;
    height: 694px;
    left: 907px;
    position: absolute;
    top: 288px;
    width: 605px;
}

.contact-page .navbar {
    height: 53px;
    left: 668px;
    position: absolute;
    top: 63px;
    width: 724px;
}

.contact-page .text-wrapper {
    color: #ffffff;
    font-family: "Montserrat-Regular", Helvetica;
    font-size: 16px;
    font-weight: 400;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 16px;
}

.contact-page .div {
    color: #ffffff;
    font-family: "Montserrat-Regular", Helvetica;
    font-size: 16px;
    font-weight: 400;
    left: 126px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 16px;
}

.contact-page .register-button {
    all: unset;
    box-sizing: border-box;
    height: 53px;
    left: 544px;
    position: absolute;
    top: 0;
    width: 174px;
}

.contact-page .div-wrapper {
    background: linear-gradient(180deg,
            rgb(144, 58, 255) 0%,
            rgb(212, 52, 254) 56.42%,
            rgb(255, 37.9, 184.51) 99.99%,
            rgb(254, 52, 185.32) 100%);
    border-radius: 4px;
    height: 53px;
    position: relative;
    width: 172px;
}

.contact-page .text-wrapper-2 {
    color: #ffffff;
    font-family: "Montserrat-Regular", Helvetica;
    font-size: 16px;
    font-weight: 400;
    left: 52px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 16px;
}

.contact-page .text-wrapper-3 {
    color: #ffffff;
    font-family: "Montserrat-Regular", Helvetica;
    font-size: 16px;
    font-weight: 400;
    left: 259px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 16px;
}

.contact-page .text-wrapper-4 {
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent;
    background: linear-gradient(180deg, rgb(144, 58, 255) 0%, rgb(255, 37.9, 184.51) 100%);
    background-clip: text;
    color: transparent;
    font-family: "Montserrat-Regular", Helvetica;
    font-size: 16px;
    font-weight: 400;
    left: 358px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-fill-color: transparent;
    top: 16px;
}

.contact-page .getlinked {
    color: transparent;
    font-family: "Clash Display-Bold", Helvetica;
    font-size: 36px;
    font-weight: 700;
    left: 128px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 66px;
}

.contact-page .span {
    color: #ffffff;
}

.contact-page .text-wrapper-5 {
    color: #d434fe;
}

.contact-page .contact-information {
    color: #ffffff;
    font-family: "Montserrat-Regular", Helvetica;
    font-size: 16px;
    font-weight: 400;
    left: 188px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 367px;
}

.contact-page .element-alara-street-yaba {
    color: #ffffff;
    font-family: "Montserrat-Regular", Helvetica;
    font-size: 16px;
    font-weight: 400;
    left: 190px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 424px;
}

.contact-page .text-wrapper-6 {
    color: #ffffff;
    font-family: "Montserrat-Regular", Helvetica;
    font-size: 16px;
    font-weight: 400;
    left: 190px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 505px;
}

.contact-page .we-are-open-from {
    color: #ffffff;
    font-family: "Montserrat-Regular", Helvetica;
    font-size: 16px;
    font-weight: 400;
    left: 190px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 547px;
}

.contact-page .text-wrapper-7 {
    color: #d434fe;
    font-family: "Montserrat-Regular", Helvetica;
    font-size: 16px;
    font-weight: 400;
    left: 190px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 622px;
}

.contact-page .text-wrapper-8 {
    color: #d434fe;
    font-family: "Clash Display-Semibold", Helvetica;
    font-size: 32px;
    font-weight: 400;
    left: 188px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 311px;
}

.contact-page .contact-bar {
    height: 611px;
    left: 687px;
    position: absolute;
    top: 256px;
    width: 623px;
}

.contact-page .overlap-2 {
    background-color: #ffffff08;
    border-radius: 12px;
    box-shadow: 0px 4px 4px #00000040;
    height: 611px;
    position: relative;
    width: 617px;
}

.contact-page .overlap-3 {
    background-color: #ffffff08;
    border: 1px solid;
    border-color: #ffffff;
    border-radius: 4px;
    box-shadow: 0px 4px 4px #00000040;
    height: 47px;
    left: 90px;
    position: absolute;
    top: 166px;
    width: 437px;
}

.contact-page .text-wrapper-9 {
    color: #ffffff;
    font-family: "Montserrat-Regular", Helvetica;
    font-size: 16px;
    font-weight: 400;
    left: 28px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 12px;
}

.contact-page .overlap-4 {
    background-color: #ffffff08;
    border: 1px solid;
    border-color: #ffffff;
    border-radius: 4px;
    box-shadow: 0px 4px 4px #00000040;
    height: 47px;
    left: 90px;
    position: absolute;
    top: 255px;
    width: 437px;
}

.contact-page .overlap-5 {
    background-color: #ffffff08;
    border: 1px solid;
    border-color: #ffffff;
    border-radius: 4px;
    box-shadow: 0px 4px 4px #00000040;
    height: 119px;
    left: 90px;
    position: absolute;
    top: 341px;
    width: 437px;
}

.contact-page .text-wrapper-10 {
    color: #ffffff;
    font-family: "Montserrat-Regular", Helvetica;
    font-size: 16px;
    font-weight: 400;
    left: 14px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 5px;
}

.contact-page .do-you-have {
    height: 57px;
    left: 92px;
    position: absolute;
    top: 75px;
    width: 305px;
}

.contact-page .text-wrapper-11 {
    color: #d434fe;
    font-family: "Clash Display-Semibold", Helvetica;
    font-size: 20px;
    font-weight: 400;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
}

.contact-page .let-us-know-about-it {
    color: #d434fe;
    font-family: "Clash Display-Semibold", Helvetica;
    font-size: 20px;
    font-weight: 400;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 32px;
}

.contact-page .overlap-group-wrapper {
    all: unset;
    box-sizing: border-box;
    height: 53px;
    left: 223px;
    position: absolute;
    top: 491px;
    width: 174px;
}

.contact-page .text-wrapper-12 {
    color: #ffffff;
    font-family: "Montserrat-Regular", Helvetica;
    font-size: 16px;
    font-weight: 400;
    left: 57px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 17px;
    white-space: nowrap;
    width: 59px;
}

.contact-page .social-media {
    height: 24px;
    left: 190px;
    position: absolute;
    top: 657px;
    width: 129px;
}

.contact-page .sata-gra {
    height: 25px;
    left: 205px;
    object-fit: cover;
    position: absolute;
    top: 199px;
    width: 21px;
}

.contact-page .star-pu {
    height: 36px;
    left: 673px;
    object-fit: cover;
    position: absolute;
    top: 698px;
    width: 30px;
}

.contact-page .star-outlin {
    height: 28px;
    left: 121px;
    object-fit: cover;
    position: absolute;
    top: 376px;
    width: 23px;
}

.contact-page .star-outlin-2 {
    height: 28px;
    left: 582px;
    object-fit: cover;
    position: absolute;
    top: 410px;
    width: 23px;
}

.contact-page .star {
    height: 32px;
    left: 1358px;
    object-fit: cover;
    position: absolute;
    top: 835px;
    width: 26px;
}

.contact-page .star-2 {
    height: 32px;
    left: 1251px;
    object-fit: cover;
    position: absolute;
    top: 167px;
    width: 26px;
}