.faq {
  padding: 7% 8% 1%;
  display: flex;
  overflow: hidden;
  border-top: 1px solid rgba(255, 255, 255, 0.18);
}

.left {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 4% 1%;
}

.star {
  position: absolute;
}

.star:nth-child(1) {
  width: 30px;
  height: 36px;
  position: absolute;
  transform: translate(-120%, -180%);
}

.left h3 {
  font-family: "Clash Display", sans-serif;
  font-size: 32px;
  /* font-weight: 700; */
  width: 70%;
}

.colored {
  color: #d434fe;
}

.left p {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  line-height: 27.5px;
  width: 90%;
}

.quest {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.question {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

.questions {
  margin-top: 30px;
}

.right {
  width: 60%;
  position: relative;
}

.qimg {
  scale: 0.7;
}

.star:nth-child(2) {
  width: 21px;
  height: 25px;
  top: 5%;
  left: 50%;
}

.star:nth-child(3) {
  width: 21px;
  height: 25px;
  top: 23%;
  left: 25%;
}

.star:nth-child(4) {
  width: 26px;
  height: 32px;
  left: 15%;
  bottom: 47%;
}

.star:nth-child(5) {
  width: 26px;
  height: 32px;
  right: 20%;
  bottom: 6%;
}

@media (max-width: 1170px) {
  .qimg {
    scale: 0.6;
  }

  .faq {
    align-items: center;
  }
}

@media (max-width: 1056px) {
  .faq {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 6% 8%;
  }

  .left {
    width: unset;
  }

  .left h3 {
    text-align: center;
    width: 100%;
  }

  .left .idea {
    transform: none;
  }

  .right {
    width: unset;
    text-align: center;
  }

  .right p,
  .right h3 {
    width: unset;
  }

  .qimg {
    margin-top: -15%;
    margin-bottom: -10%;
  }
}
