.flare {
  width: 951px;
  height: 994px;
  background: url(<path-to-image>),
    lightgray -0.25px 0px / 130.652% 100% no-repeat;
  background-blend-mode: hard-light;
}

/* <Flare className={classes.hero} path="src/assets/Purple-Lens-Flare-PNG.png"
        color="#150e28"
        hor="-155.25"
        ver="-155"
        width="114.411"
        height="118.9"
        mode="hard-light"></Flare> */
