/* color: #fff;
font-family: Clash Display;
font-size: 30px;
font-style: normal;
font-weight: 700;
line-height: normal; */

.footer {
  border-top: 1px solid rgba(255, 255, 255, 0.18);
  background: #100b20;
  padding: 5% 8%;
  position: relative;
}

.star {
  position: absolute;
  width: 15px;
  height: 18px;
}

.star:nth-child(1) {
  top: 30%;
  left: 4%;
}

.star:nth-child(2) {
  bottom: 25%;
  left: 50%;
}

.star:nth-child(3) {
  bottom: 36%;
  right: 5%;
}

.star:nth-child(4) {
  top: 17%;
  right: 30%;
}

p {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  line-height: 172.4%;
}

h4 {
  font-family: "Clash Display", sans-serif;
  font-size: 30px;
}

h6 {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}

.colored {
  color: #d434fe;
}

.grid {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  gap: 13%;
}

.footnote {
  margin-top: 4%;
  text-align: center;
}

.top {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 50px;
}

.terms {
  display: flex;
  width: 70%;
  position: relative;
}

.terms p:first-child::after {
  content: "";
  position: absolute;
  left: 40%;
  height: 100%;
  width: 2px;
  background: #d434fe;
}

.other {
  display: flex;
  flex-direction: column;
  gap: 13px;
}

.links,
.contact {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  gap: 15px;
}

.socials {
  display: flex;
  gap: 10px;
  /* justify-content: space-between; */
  align-items: center;
}

@media (max-width: 960px) {
  .grid {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .top {
    margin-bottom: 15px;
  }

  .links {
    display: block;
  }

  .socials {
    margin-top: 10px;
  }
}
