.header {
  padding: 2% 8%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-family: "Clash Display", sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.colored {
  color: #d434fe;
}

.navigate {
  display: flex;
  gap: 15%;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.link {
  text-decoration: none;
  /* color: linear-gradient(
    180deg,
    rgb(144, 58, 255) 0%,
    rgb(255, 37.9, 184.51) 100%
  ); */
}

.line {
  margin-top: -15px;
  border: none;
  height: 1px;
  background: rgba(255, 255, 255, 0.18);
}

@media (max-width: 1056px) {
  .navigate {
    display: none;
  }

  .header {
    margin-bottom: 1%;
  }

  .logo {
    font-size: 24px;
  }

  .line {
    margin: unset;
  }
}
