.hero {
  background: url("src/assets/Purple-Lens-Flare-PNG-2.png"),
    #150e28 -155.25px -155px / 114.411% 118.9% no-repeat;
  background-blend-mode: hard-light;
  /* height: 100%; */
  width: 100vw;
  overflow: hidden;
  position: relative;
}

.hero-body {
  display: flex;
  margin: -3% 8%;
}

.underline {
  display: flex;
  flex-direction: column;
  align-items: end;
  position: relative;
}

.participate {
  /* position: absolute; */
  /* left: -15%; */
  /* transform: translate(0%, -60%); */
}

.underline p {
  padding: 2% 5%;
  font-family: Montserrat;
  font-size: 24px;
  font-style: italic;
  font-weight: 700;
  text-align: end;
  width: 100%;
  /* line-height: normal; */
}

.underline svg {
  position: absolute;
  bottom: 20%;
  transform: translateX(17%);
}

.star {
  position: absolute;
}

.star {
  left: 12.5%;
}

.star:nth-child(2) {
  top: 27.5%;
  left: 53%;
}

.star:nth-child(3) {
  bottom: 25%;
  left: 33%;
}

.left {
  padding: 9% 0;
  font-family: "Clash Display", sans-serif;
  width: 50%;
}

.left h1 {
  font-size: 64px;
}

.left p {
  margin: 3% 0;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 166%;
  width: 72%;
}

.right {
  width: 50%;
}

.colored {
  color: #d434fe;
}

.time {
  margin-top: 10%;
  display: flex;
  gap: 15%;
  width: 205px;
}

.time p {
  font-size: 64px;
  font-family: "Unica One", cursive;
}

.time span {
  font-size: 14px;
}

.bulb {
  position: absolute;
  transform: translate(-150%, -80%);
}

.down {
  display: flex;
  align-items: center;
  gap: 5px;
}

.image {
  position: absolute;
  z-index: 9999999;
  filter: brightness(0.9);
  /* background-blend-mode: hard-light; */
}

.man-img {
  position: absolute;
  transform: translateX(-10%);
  scale: 0.9;
}

@media (max-width: 1136px) {
  .participate {
    display: flex;
    align-items: center;
    /* getlinked hackathon breaks */
    justify-content: center;
  }

  .underline svg {
    position: absolute;
    bottom: 15%;
    left: 50%;
  }
}

@media (max-width: 1056px) {
  .hero {
    padding-bottom: 58%;
    overflow: hidden;
  }

  .right img {
    width: 70% !important;
    transform: translateX(20%);
  }

  .hero-body {
    display: block;
    margin: auto;
  }

  .left {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: scart; */
    /* margin: auto; */
    width: 100%;
    /* padding-top: 6%; */
    padding-bottom: 0;
    /* display: none; */
  }

  .left h1 {
    /* width: 100%; */
  }
  .left p {
    /* width: 50%; */
    text-align: center;
  }
  .right img {
    /* position: absolute; */
    /* display: none; */
    width: 100%;
  }

  .time {
    width: unset;
    margin-top: 5%;
    gap: 5%;
    /* display: flex; */
  }
}
