.hero {
  background: url("../assets/Purple-Lens-Flare-PNG.png"),
    #150e28 -155.25px -155px / 114.411% 118.9% no-repeat;
  background-blend-mode: hard-light;
  width: 100vw;
  height: 815px;
  overflow: hidden;
  position: relative;
}

.hero-body {
  display: flex;
  margin: 3% 8%;
}

.star {
  position: absolute;
  left: 12.5%;
}
.star2 {
  position: absolute;
  top: 27.5%;
  left: 53%;
  filter: grayscale(50%);
}

.left {
  padding: 9% 0;
  font-family: "Clash Display", sans-serif;
  width: 50%;
}

.left h1 {
  font-size: 64px;
}

.left p {
  margin: 3% 0;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-style: normal;
  line-height: 166%;
  width: 72%;
}

.right {
  width: 50%;
}

.colored {
  color: #d434fe;
}

.time {
  margin-top: 10%;
  display: flex;
  gap: 15%;
  width: 205px;
}

.time p {
  font-size: 64px;
  font-family: "Unica One", cursive;
}

.time span {
  font-size: 14px;
}

.bulb {
  position: absolute;
  transform: translate(-150%, -80%);
}

.down {
  display: flex;
  align-items: center;
  gap: 5px;
}

.right p {
  padding: 4% 5%;
  font-family: Montserrat;
  font-size: 24px;
  font-style: italic;
  font-weight: 700;
  text-align: end;
  /* line-height: normal; */
}

.underline {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.participate {
  position: absolute;
  top: 8%;
  left: 55%;
}

.underline svg {
  position: absolute;
  top: 18%;
  right: 5%;
}

.image {
  position: absolute;
  z-index: 9999999;
  filter: brightness(0.9);
  /* background-blend-mode: hard-light; */
}

.man-img {
  position: absolute;
  /* right: -30%; */
  /* left: 45%;
    top: 20%; */
  transform: translateX(-10%);
  scale: 0.9;
}
