.judging {
  padding: 3% 8%;
  display: flex;
  align-items: center;
  background: url("src/assets/Purple-Lens-Flare-PNG-2.png"),
    #150e28 -204.25px 7px / 119.817% 104.852% no-repeat;
  background-blend-mode: hard-light;
  border-top: 1px solid rgba(255, 255, 255, 0.18);
}

.left {
  width: 50%;
  position: relative;
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
}

.left img {
  scale: 0.8;
  margin-left: -8%;
}

.ellipse {
  position: absolute;
  top: 3%;
  left: 17%;
}

.right {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 4% 1%;
}

.star {
  position: absolute;
}

.star:nth-child(1) {
  width: 26px;
  height: 32px;
  top: -15%;
  left: 25%;
}
.star:nth-child(2) {
  width: 26px;
  height: 32px;
  /* right: 10%; */
  transform: translateX(235%);
}
.star:nth-child(3) {
  width: 26px;
  height: 32px;
  bottom: 0;
  right: 10%;
}

.right h3 {
  font-family: "Clash Display", sans-serif;
  font-size: 32px;
  font-weight: 700;
  width: 80%;
}

.colored {
  color: #d434fe;
}

.colored2 {
  color: #ff26b9;
}

.attributes {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.right p {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 27.5px;
  width: 96%;
}

/* .right .star {
  position: absolute;
  transform: translateY(50%);
  width: 30px;
  height: 36px;
  right: 13.5%;
} */


@media (max-width: 1056px) {
  .judging {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 6% 8%;
  }

  .left {
    width: unset;
  }

  .right {
    width: unset;
    text-align: center;
    align-items: center;
    margin-top: -15%;
  }

  .right p, .right h3 {
    width: unset;
  }
}
