.partners {
  padding: 8%;
  text-align: center;
  border-top: 1px solid rgba(255, 255, 255, 0.18);
  /* text-align: center; */
}

h3 {
  font-family: "Clash Display", sans-serif;
  font-size: 32px;
  margin-bottom: 2%;
}

p {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  line-height: 170.9%;
  width: 40%;
  margin: auto;
}

.box {
  margin-top: 50px !important;
  padding: 10%;
  border-radius: 5px;
  border: 1px solid #d434fe;
  /* background: rgba(255, 255, 255, 0.01); */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 100px);
  /* grid-column-gap: 50px; */
  grid-row-gap: 90px;

  margin: auto;
}

.sponsors {
  position: relative;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border-right: 3px solid #d434fe; */
  /* border-bottom: 3px solid #d434fe; */
}

.sponsors:nth-child(-n + 3)::before {
  content: "";
  position: absolute;
  bottom: -30%;
  left: 5%;
  width: 90%;
  height: 3px;
  background-color: #d434fe;
}

.sponsors:after {
  content: "";
  position: absolute;
  bottom: 10%;
  right: 0%;
  width: 3px;
  height: 100%;
  background-color: #d434fe;
}

.sponsors:nth-child(3n):after {
  display: none;
}
