.partners {
  padding: 8%;
  text-align: center;
  border-top: 1px solid rgba(255, 255, 255, 0.18);
  background: url("src/assets/Purple-Lens-Flare-PNG-4.png"),
    #150e28 -204.25px 7px / 119.817% 104.852% no-repeat;
  background-blend-mode: hard-light;
  /* text-align: center; */
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5%;
}

.about p {
  width: 40%;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  line-height: 170.9%;
}

h3 {
  font-family: "Clash Display", sans-serif;
  font-size: 32px;
  margin-bottom: 2%;
}

.box {
  margin-top: 50px !important;
  padding: 10%;
  border-radius: 5px;
  border: 1px solid #d434fe;
  background: rgba(255, 255, 255, 0.01);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 100px);
  grid-row-gap: 90px;
  margin: auto;
  position: relative;
}

.star {
  position: absolute;
}

.star:nth-child(1) {
  width: 30px;
  height: 36px;
  left: 2%;
  top: -9%;
}

.star:nth-child(2) {
  width: 21px;
  height: 25px;
  right: 42%;
  top: 13%;
}

.star:nth-child(3) {
  width: 26px;
  height: 32px;
  right: 42%;
  bottom: 11%;
}

.sponsors {
  position: relative;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border-right: 3px solid #d434fe; */
  /* border-bottom: 3px solid #d434fe; */
}

.sponsors:nth-child(-n + 3)::before {
  content: "";
  position: absolute;
  bottom: -30%;
  left: 5%;
  width: 90%;
  height: 3px;
  background-color: #d434fe;
}

.sponsors:after {
  content: "";
  position: absolute;
  bottom: 10%;
  right: 0%;
  width: 3px;
  height: 100%;
  background-color: #d434fe;
}

.sponsors:nth-child(3n):after {
  display: none;
}

@media (max-width: 1162px) {
  .about p {
    width: 70%;
  }
}
