.privacy {
  padding: 8% 8% 6%;
  text-align: center;
  border-top: 1px solid rgba(255, 255, 255, 0.18);
  background: url("src/assets/Purple-Lens-Flare-PNG-2.png"),
    #150e28 -204.25px 7px / 119.817% 104.852% no-repeat;
  background-blend-mode: hard-light;
  display: flex;
  position: relative;
  /* text-align: center; */
  /* overflow: hidden; */
}

.star {
  position: absolute;
  /* top: 0; */
}

.star:nth-child(1) {
  width: 30px;
  height: 36px;
  bottom: 32%;
  left: 4%;
}

.star:nth-child(2) {
  width: 26px;
  height: 32px;
  left: 32%;
  top: 9%;
}

.star:nth-child(3) {
  width: 23px;
  height: 28px;
  left: 47%;
  top: 17%;
}

.star:nth-child(4) {
  width: 15px;
  height: 18px;
  right: 16%;
  top: 21%;
}

.star:nth-child(5) {
  width: 15px;
  height: 18px;
  right: 40%;
  bottom: 28%;
}

.star:nth-child(6) {
  width: 15px;
  height: 18px;
  right: 36%;
  bottom: 34%;
}

.star:nth-child(7) {
  width: 26px;
  height: 32px;
  right: 8%;
  bottom: 25%;
}

h3 {
  font-family: "Clash Display", sans-serif;
  font-size: 32px;
  margin-bottom: 2%;
  width: 60%;
}

h5 {
  font-family: "Clash Display", sans-serif;
  font-size: 16px;
}

p {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  margin: 0;
  width: 100%;
}

.colored {
  color: #d434fe;
}

.right {
  position: relative;
  scale: 0.9;
}

svg {
  position: absolute;
  right: -7%;
  top: 9%;
}

.padlock {
  margin-top: 27%;
}

.about {
  text-align: left;
  margin-bottom: 50px;
}

.about p:first-of-type {
  color: rgba(255, 255, 255, 0.75);
  margin-bottom: 2%;
}

.about p {
  line-height: 188.4%;
  width: 75%;
}

.box {
  margin-top: 50px !important;
  padding: 10%;
  border-radius: 5px;
  border: 1px solid #d434fe;
  background: rgba(217, 217, 217, 0.03);
  width: 569px;
  height: 608px;
}

.box p,
.box h5 {
  line-height: 216.4%;
}

.box p:first-child {
  text-align: left;
  margin-bottom: 5%;
}

.licensing {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 10px;
  /* gap: 50%; */
  margin-bottom: 30px;
}

.license {
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 10px;
}

.license div {
  margin-top: 1.5%;
}

@media (max-width: 1190px) {
  .privacy {
    flex-direction: column;
    align-items: center;
    padding: 6% 8%;
  }

  .left {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .about {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: unset;
  }
}

@media (max-width: 1330px) {
  .right {
    scale: 0.9;
  }
}

@media (max-width: 1290px) {
  .left {
    /* scale: 0.8; */
  }

  .right {
    scale: 0.7;
  }
}
